body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 1em 0;
}

@media (max-width: 767px) {
  p {
      font-size: 14px;
  }
}

.header-section {
  background-image: url("static/UCL.jpg");
  background-size: cover;
  height: 50vh;
  background-position: center;
}

.header-text {
  text-align: center;
  color: white;
  padding-top: 15vh;
}

.header-text h1 {
  font-size: 4.5vh;
  font-weight: bold;
}

.header-text p {
  font-size: 3vh;
  padding-top: 3vh;
}

.event-info {
  background-color: white;
  padding: 50px;
  margin: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-info h2 {
  font-size: 3.5vh;
  font-weight: bold;
  padding-bottom: 20px;
}

.in-view {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

a {
  color: rgb(31, 16, 100);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}